<section id="find-right-ticket">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Help me find the right ticket</h1>

                <div class="ticket-group-menu">
                    <ul>
                        <li>
                            <a data-toggle="tab" href="#find-right-ticket__tickets">Tickets</a>
                        </li>
                        <li class="active"><a data-toggle="tab" href="#find-right-ticket__passes">Passes</a></li>
                        <li><a data-toggle="tab" href="#find-right-ticket__packages">Packages</a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div id="find-right-ticket__tickets" class="tab-pane">
                        <div class="slick-ticket-container">
                            <div class="help-me-slick">
                                @Ticket(
                                    "blue",
                                    "1 day ticket",
                                    75,
                                    "1 day entry to Dreamworld and WhiteWater World",
                                    "For 12 months from first visit"
                                    )

                                @Ticket(
                                    "red",
                                    "3 day ticket",
                                    75,
                                    "3 days entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck",
                                    "For 12 months from first visit"
                                    )

                                @Ticket(
                                    "purple",
                                    "7 day ticket",
                                    95,
                                    "7 days entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck",
                                    "For 12 months from first visit"
                                    )
                            </div>
                        </div>

                        <a class="btn-all" href="#">
                            See all tickets
                        </a>
                    </div>
                    <div id="find-right-ticket__passes" class="tab-pane active">
                        <div class="slick-ticket-container">
                            <div class="help-me-slick">
                                @Ticket(
                                    "red",
                                    "Season pass",
                                    74,
                                    "Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck",
                                    "Until 30 June 2018",
                                    "Buy 3 and get fourth pass free"
                                    )

                                @Ticket(
                                    "purple",
                                    "Annual pass",
                                    109,
                                    "Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck",
                                    "For 12 months from first visit"
                                    )
                            </div>
                        </div>

                        <a class="btn-all" href="#">
                            See all passes
                        </a>
                    </div>
                    <div id="find-right-ticket__packages" class="tab-pane">
                        <div class="slick-ticket-container">
                            <div class="help-me-slick">
                                @Package(
                                    "Package_1.jpg",
                                    "Thrill Seeker Package",
                                    185,
                                    "1 Adult day ticket",
                                    "+ Gold Ride Express"
                                    )
                                @Package(
                                    "Package_2.jpg",
                                    "Family Day Out Package TEST TEST TEST TES TEST",
                                    438,
                                    "4 tickets",
                                    "(includes photo pass)",
                                    true
                                    )
                                @Package(
                                    "Package_3.jpg",
                                    "Wildlife Adventure Package",
                                    343,
                                    "2 Adult day tickets",
                                    "+ Tiger Feed + Sunset Safari"
                                    )
                            </div>
                        </div>
                            
                        <a class="btn-all" href="#">
                            See all packages
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var slickOptions = {
        arrows: false
        , infinite: false
        , slidesToShow: 3
        , slidesToScroll: 1
        , dots: true
        , centerPadding: 0
        , initialSlide: 0
    };

    $(function () {
        $("#find-right-ticket__tickets .help-me-slick").slick(slickOptions);
        $("#find-right-ticket__passes .help-me-slick").slick(slickOptions);
        $("#find-right-ticket__packages .help-me-slick").slick(slickOptions);
    });
</script>

@helper Ticket(string color, string ticketType, int fromPrice, string description, string validUntil, string exclusiveOffer = null)
{
    <div class="ticket-outer">
        <div class="ticket @color">
            @if (!string.IsNullOrEmpty(exclusiveOffer))
            {
                <div class="ticket-heading">
                    <div class="ticket-heading__inner">
                        <h2>Exclusive offer:</h2>
                        <span class="ticket-heading__text">@exclusiveOffer</span>
                    </div>
                </div>
}
            <div class="ticket-content">
                <div class="ticket-info">
                    <div class="ticket-info__type">
                        <span>
                            @ticketType
                        </span>

                    </div>
                    <div class="ticket-info__price">
                        From
                        <strong>
                            $@fromPrice<sup>00</sup>
                        </strong>
                    </div>
                    <p>
                    </p>
                </div>
                <div class="ticket-data">
                    <p class="ticket-description">
                        @description
                    </p>
                    <div class="ticket-date">
                        <div class="ticket-date__inner">
                            @validUntil
                        </div>
                    </div>
                    <div class="button">
                        <a href="#">Select</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@helper Package(string imageUrl, string title, int price, string text1, string text2, bool isFrom = false)
{
    <div class="package-outer">
        <div class="package">
            <img alt="@title" src="/Content/images/HelpMeFindTheRightTicket/@imageUrl" />

            <div class="package__inner">
                <div class="package__details">
                    <div class="package__details__title">
                        <h2>
                            @title
                        </h2>
                        <div class="price">
                            @if (isFrom)
                            {
                                <span class="from">From</span>
                            }
                            $@price<sup>00</sup>
                        </div>
                    </div>
                    <div class="package__details__content">
                        @text1
                        <br/>
                        @text2
                    </div>
                </div>
                <div class="button">
                    <a href="#">Select</a>
                </div>
            </div>
        </div>
    </div>
}