<section id="find-right-ticket">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Help me find the right ticket</h1>

                <div class="ticket-group-menu">
                    <ul>
                        <li><a href="#">Tickets</a></li>
                        <li><a class="selected" href="#">Passes</a></li>
                        <li><a href="#">Packages</a></li>
                    </ul>
                </div>

                <div class="slick-ticket-container">
                    <div class="help-me-slick">
                        @Ticket(
                            "red",
                            "Season pass",
                            74,
                            "Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck",
                            "Until 30 June 2018",
                            "Buy 3 and get fourth pass free"
                            )
                        
                        @Ticket(
                            "purple",
                            "Annual pass",
                            109,
                            "Unlimited entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck",
                            "For 12 months from first visit"
                            )
                        
                        @Ticket(
                            "blue",
                            "1 day ticket",
                            75,
                            "1 day entry to Dreamworld and WhiteWater World",
                            "For 12 months from first visit"
                            )
                        
                        @Ticket(
                            "red",
                            "3 day ticket",
                            75,
                            "3 days entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck",
                            "For 12 months from first visit"
                            )
                        
                        @Ticket(
                            "purple",
                            "7 day ticket",
                            95,
                            "7 days entry to Dreamworld, WhiteWater World and SkyPoint Observation Deck",
                            "For 12 months from first visit"
                            )
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function() {
        $(".help-me-slick").slick({
            centerMode: false,
            arrows: false,
            infinite: false,
            slidesToShow: 3,
            slidesToScroll: 1,
            dots: true,
            centerMode: false,
            centerPadding: 0,
            initialSlide: 0
        });
    });
</script>

@helper Ticket(string color, string ticketType, int fromPrice, string description, string validUntil, string exclusiveOffer = null)
{
    <div class="ticket-outer">
        <div class="ticket @color">
            @if (!string.IsNullOrEmpty(exclusiveOffer))
            {
                <div class="ticket-heading">
                    <h2>Exclusive offer:</h2>
                    <h3>Buy 3 and get forth pass free</h3>
                </div>
            }
            <div class="ticket-content">
                <div class="ticket-image clearfix">
                    <img src="~/Content/images/HelpMeFindTheRightTicket/icon_ticket_annual pass.svg" width="120" />
                    <p>
                        <span>From</span><br />$@fromPrice<small>00</small>
                    </p>
                </div>
                <div class="ticket-data">
                    <p class="ticket-description">
                        @description
                    </p>
                    <p class="ticket-date">
                        @validUntil
                    </p>
                    <div class="button">
                        <a href="#">Select</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}